<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <header>
        <div class="container bg-info">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">Phone</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./manager.html">Quản lý</a>
                        </li>
                    </ul>
            </nav>
        </div>
    </header>
    <section class="product">
        <div class="container bg-light p-4 h-100">
            <div class="header py-2 text-right">
                <div class="btn-group">
                    <select class="form-control" id="loaiSP">
                        <option value="All">Tất cả</option>
                        <option value="IPhone">IPhone</option>
                        <option value="Samsung">Samsung</option>
                    </select>
                </div>
                <button type="button" class="cart btn shadow-none text-danger position-relative" data-toggle="modal" data-target="#Modal1">
                    <i class="fa-solid fa-cart-shopping" style="font-size:2rem;"></i>
                    <span id="amountCart" class="d-none">0</span>
                </button>
            </div>
            <div id="listProducts" class="row">
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal  fade" id="Modal1" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel1">Giỏ hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="showCart" class="list-group">
                    </div>
                    <div class="pt-2 text-right">
                        <span id="tongTien"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="showOder(1)">Thanh toán</button>
                    <button type="button" class="btn btn-primary" onclick="clearCardItem()">Xóa toàn bộ</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="ModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel2">Đặt hàng</h5>
                </div>
                <div id="contentOder" class="modal-body p-5">
                </div>
                <div class="modal-footer justify-content-around">
                    <button type="button" class="btn btn-danger" onclick="showInfoOder()">Đặt hàng ngay</button>
                    <button type="button" class="btn btn-primary" onclick="showOder(0)">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3 -->
    <div class="modal" id="Modal3" tabindex="-1" aria-labelledby="#ModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel3">Thông tin đơn hàng</h5>
            </div>
            <div class="modal-body p-5">
              <p class="border-bottom border-primary">Mã đơn hàng của bạn là: <span id="idOder" class="h6">000</span></p>
              <p class="border-bottom border-primary">Đơn đặt hàng của bạn sẽ được giao cho bạn trong 3-5 ngày làm việc</p>
              <p class="border-bottom border-primary">Bạn có thể thanh toán <span id="moneyPay" class="h6">$0</span> bằng thẻ hoặc bất kỳ phương thức giao dịch trực tuyến nào sau khi các sản phẩm đã được phân phối cho bạn</p>
              <div class="d-flex pt-2 justify-content-center">
                <button type="button" class="btn btn-info px-5" data-dismiss="modal">Okey</button>
            </div>
            </div> 
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

     <!-- thư viện Axios -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="../services/ManagerServive.js"></script>
     <script src="../models/ListProduct.js"></script>
     <script src="../models/Cart.js"></script>
     <script src="../models/ListCart.js"></script>
     <script src="../controllers/main.js"></script>
</body>

</html>